body {
    background-color: #eee;
}
.container {
    width: 804px;
    margin: 0 auto;
    position: relative;
}
#main {
    text-align: center;
    width: 800px;
    height: 500px;
    margin: 10px 0 0 0;
    border: 2px solid #ccc;
    position: relative;
    cursor: crosshair;
    background-color: #f7f7f7;
}
#step {
    text-align: center;
}
.start button {
    display: inline-block;
    margin-top: 10%;
    padding: 6px 12px;
    font-size: 54px;
    line-height: 54px;
    font-weight: 400;
    color: #eee;
    background-color: #398439;
    border-radius: 6px;
    border: 1px solid #398439;
}
.start button:hover {
    background-color: #49a449;
    cursor: pointer;
}
.target {
    position: absolute;
    background-color: #999;
    border-radius: 100px;
}
.result {
    margin-top: 10%;
    font-family: sans-serif;
    font-size: 54px;
    line-height: 54px;
    font-weight: bold;
    color: #666;
    text-align: center;
}
.result span {
    color: #C00;
    font-size: 100px;
    line-height: 100px;
}
footer {
    font-size: 10px;
    text-align: right;
}